.footer {
  bottom: 0%;
  position: fixed;
  width: 100%;
  padding: 10px;
  @media (max-height: 600px) {
    position: relative;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    cursor: pointer;
  }
}
