.page {
  height: 100vh;
  min-height: 550px;
  background-color: red;
}

.content {
  height: 90vh;
  background-color: red;
}

.loading {
  height: 100%;
  width: 100%;
  color: lime;
  background-color: magenta;

  display: flex;
  justify-content: center;
  align-items: center;
}
